---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "variables",
        "base"
;

// INTRO FOUT
.wf-loading #Intro {
visibility: hidden;
}
.wf-active #Intro {
visibility: visible;
}

.visible-grid{
  background-image: linear-gradient(to right, rgba(0,0,0,.1) 0, rgba(255,255,255,0)1.5px);
  background-repeat: repeat-x;
  background-size: 16.6666667% 100%;
  margin:0 2rem;
  //@media screen and (min-width:$tablet){
    //background-size: 100% 30px;
  //20px x 1.5 = 30px
  //}
  // background-image:repeating-linear-gradient(
  //
  // );
}
#logo{
  width:10em;
  margin-left:auto;
  margin-right:auto;
  @include breakpoint(s) {
    margin-left:0;
  };
}
body{
  //background-image: linear-gradient(to bottom,rgba(0,0,0,.1) 0,rgba(255,255,255,0)1px);
  //background-repeat: repeat-y;;
  background-size:100% $base-line-height;
  background-color:$white;
  color: $black70;
}
.logo{
  h2{
    @include breakpoint(l) {
      line-height:1;
    };
  }
}

.card{
  display:block;
  background-color:$white;
  padding:0;
  margin-top:.25em;
  margin-bottom:.25em;
  box-shadow: 0 0 4px 0 $black10;
  &:hover{
    box-shadow:0 0 12px 0 $black10;
    transform:translate3d(0, 0, 5px);

  }
}


.thumbnail{
  position:relative;
  img{
    z-index:1;
  }
  .play-icon{
    transition: all .2s;
    position:absolute;
    top:0;left:0;right:0;bottom:0;
    background-color:$black50;
    &:before{
      content:'>';
      width:2em;
      height:2em;
      display:block;
      margin-top: calc(30% - 1em);
      margin-left: auto;
      margin-right: auto;
      border-left:1.5em solid $white80;
      border-top: 1em solid transparent;
      border-bottom: 1em solid transparent;
    }
    &:hover{
      background-color:$black60;
      &:before{
        border-left-color:$white;
      }
    }
  }

}


span.kern{
  letter-spacing:.02em;
}

// Tag Links
.tags{
  font-family:$condensed-font-family;
  a{
    color:$black80;
    font-size:$h5;
    text-transform:uppercase;
    font-weight:bold;
    letter-spacing:.1em;
    margin-right:1em;
  }
  &:hover{
    //color:$blue;
  }

}
