
<footer class="site-footer cf bg-dark white-9 pad-l">
    <div class="col col-12 m-col-8">
      <nav class="cf">
        <ul class="list-reset">
          <li class="col"><a class="white pad-t-m mar-r-m" href="#popslife">twitter</a></li>
          <li class="col"><a class="white pad-t-m mar-r-m" href="#popslife">facebook</a></li>
          <li class="col"><a class="white pad-t-m mar-r-m" href="#popslife">tumblr</a></li>
          <li class="col"><a class="white pad-t-m mar-r-m" href="#popslife">instagram</a></li>
          <li class="col"><a class="white pad-t-m mar-r-m" href="#popslife">youtube</a></li>
        </ul>
      </nav>
      <div class="cf">
        <div class="col col-3 pad-r-l"> <div class="col bg-blue pad-y-m pad-x-l"> Partner Logo 1 </div> </div>
        <div class="col col-3 pad-r-l"> <div class="col bg-blue pad-y-m pad-x-l"> Partner Logo 2 </div> </div>
        <div class="col col-3 pad-r-l"> <div class="col bg-blue pad-y-m pad-x-l"> Partner Logo 3 </div> </div>
      </div>
    </div>
    <div class="col col-12 m-col-4">
      <p>All content © Pops Life 2016.</p>
      <p> Site by <a class="white" href="http://morf.studio"> Morf Studio</a>. </p>
    </div>
</footer>



<script>
document.addEventListener("DOMContentLoaded", function(event) {
  // Load Wow Anims on scroll
  new WOW().init();
  // Load Canvas Widths / recalculate
});
</script>
<script src="{{site.github.url}}/js/smoothscroll.min.js"></script>
