
<footer class="site-footer cf bg-black white-9 pad-l">
    <div class="col col-12 m-col-8 pad-b-l">
      <nav class="cf pad-l-l ">
        <ul class="list-reset">
          <li class="col"><a class="white pad-t-m mar-r-l" href="#popslife">twitter</a></li>
          <li class="col"><a class="white pad-t-m mar-r-l" href="#popslife">facebook</a></li>
          <li class="col"><a class="white pad-t-m mar-r-l" href="#popslife">tumblr</a></li>
          <li class="col"><a class="white pad-t-m mar-r-l" href="#popslife">instagram</a></li>
          <li class="col"><a class="white pad-t-m mar-r-l" href="#popslife">youtube</a></li>
        </ul>
      </nav>
      <div class="cf col col-12 pad-y-l">
        <div class="col col-4 m-col-3 pad-r-s">
          <img src="img/logos/partner_itvs.gif" alt="">
        </div>
        <div class="col col-4 m-col-3 pad-r-s">
          <img src="img/logos/partner_nbpc.gif" alt="">
        </div>
        <div class="col col-4 m-col-3 pad-r-s">
          <img src="img/logos/partner_wnet.gif" alt="">
        </div>
      </div>
    </div>
    <div class="col col-12 m-col-4">
      <p>All content © Pops Life 2016.</p>
      <p> Site by <a class="white" href="http://morf.studio"> Morf Studio</a>. </p>
    </div>
</footer>



<script>
document.addEventListener("DOMContentLoaded", function(event) {
  // Load Wow Anims on scroll
  new WOW().init();
  // Load Canvas Widths / recalculate
});
</script>
<script src="{{site.github.url}}/js/smoothscroll.min.js"></script>
