
<header class="site-header relative cf border-bottom">
  <div class="">
    <div class="logo col col-12 s-col-6 l-col-9 text-center s-text-left">
      <h2 class="pad-t-l pad-x-l condensed"><a href="{{site.github.url}}">POPS</a></h2>
    </div>
    <nav class="col col-12 s-col-6 l-col-3 h5 pad-y-l">
        <ul class="list-reset cf text-center s-text-right pad-x-l">
          <li class="col col-4 pad-x-m text-center"><a class="pad-b-s" href="#">Episodes</a></li>
          <li class="col col-4 pad-x-m text-center"><a class="pad-b-s" href="#">Community</a></li>
          <li class="col col-4 pad-x-m text-center"><a class="pad-b-s" href="#">Resources</a></li>
        </ul>
    </nav>
  </div>
</header>
