
<header class="site-header relative cf">
  <div class="">
    <div class="logo col col-8">
      <h2 class="pad-y-m pad-x-m condensed"><a href="">POPS LIFE</a></h2>
    </div>
    <nav class="col-4 right h5">
        <ul class="list-reset cf right">
          <li class="col pad-y-l pad-x-m"><a class="" href="#">Episodes</a></li>
          <li class="col pad-y-l pad-x-m"><a class="" href="#">Community</a></li>
          <li class="col pad-y-l pad-x-m"><a class="" href="#">Resources</a></li>
        </ul>
    </nav>
  </div>
</header>
