a {
  color:$black;
  transition: all .2s;
  text-decoration:none;
  //box-shadow: 0 2px 0 0;
}

p{
  a{
    box-shadow:0 1px 0 0;
  }
}
a:link,
a:visited{
    color:$black;
}
a.white{
 color:$white;
}
//.link { text-decoration: none; }
a:hover {
  //color:$blue;
  box-shadow:0 4px 0 0;
}
a.current{
  box-shadow:0 4px 0 0;
}
a:active{
  transition: all .3s;
}
a.button{
  transition: all .25s;
  text-decoration:none;
  padding:$space-s $space-m;
  border-style: solid;
  border-width: $border-width;
  padding:$space-s $space-m;
  &:hover{
    box-shadow: 0 0 0 4px;
  }
  &:active{
    background-color:$black10;
  }
}
a.button-white{
  transition: all .25s;
  text-decoration:none;
  color: white;
  padding:$space-s $space-m;
  border-style: solid;
  border-width: $border-width;
  padding:$space-s $space-m;
  &:hover{
    box-shadow: 0 0 0 4px ;
  }
  &:active{
    background-color:$black10;
  }
}
a.permalink{
  &:hover{
    border:none;
    box-shadow:none;
  }
}
