a {
  color:$black80;
  transition: all .2s;
  text-decoration:none;
}

p{
  a{
    box-shadow:0 1px 0 0;
  }
}
a:link,
a:visited{
    color:$black80;
}
a.white{
 color:$white;
}
.link { text-decoration: none; }
a:hover {
  box-shadow:0 4px 0 0;
}
a.current{
  box-shadow:0 4px 0 0;
}
a:active{
  transition: all .3s;
}


a.permalink{
  &:hover{
    box-shadow:none;
  }
}
